// Font import
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poor+Story&family=Poppins:wght@400;700;800&family=Rokkitt:wght@500&display=swap");

// Font Variable
$poppins: "Poppins", sans-serif;
$poor-story: "Poor Story", cursive;

body {
  background-color: #ffec8a;
  font-family: $poppins;
}

// Breakpoint
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Navbar
.custom-navbar {
  @include for-desktop-up {
    background-color: #fbc83b;
  }

  @include for-phone-only {
    background-color: #ffec8a;
  }
}

.custom-logo {
  @include for-desktop-up {
    width: 40%;
    margin-left: 50px;
  }

  @include for-phone-only {
    width: 50%;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #7a0b0b;
  @include for-desktop-up {
    font-size: 20px;
  }

  @include for-phone-only {
    font-size: 14px;
  }
}

.nav-text {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  border-bottom: 3px solid black;
  color: rgba(0, 0, 0, 1);
}

.router-link-exact-active {
  border-bottom: 3px solid black;
}

.custom-nav-item {
  @include for-phone-only {
    margin-top: 10px;
    padding: 0.1em;
    background-color: #fefdcd;

    a span {
      margin-left: 15px;
    }

    ul.dropdown-menu.dropdown-menu-right.show {
      background: #fefdcd;
      border: 0px;

      //   li {
      //     border: 1px solid #ccc;
      //     border-radius: 16px;
      //     margin-bottom: 10px;
      //   }
    }
  }
}

button.navbar-toggler.not-collapsed {
  @include for-phone-only {
    border: 0px;
  }
}

button.navbar-toggler.collapsed {
  @include for-phone-only {
    border: 0px;
  }
}

// Footer
footer {
  background-color: #864825;

  @include for-phone-only {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.footer-subtitle {
  font-family: "Open Sans";
  color: #000000;

  @include for-desktop-up {
    font-size: 1.5em;
  }

  @include for-phone-only {
    font-size: 10px;
  }
}

.footer-title-logo {
  font-family: "Poppins";
  color: #000000;
  font-size: 4em;
  font-weight: 700;

  @include for-phone-only {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
}

.footer-title {
  font-family: "Poppins";
  color: #000000;

  font-size: 4em;
  font-weight: 700;

  @include for-phone-only {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
  }
}

.copyright {
  margin-top: -0.4em;

  @include for-phone-only {
    width: 8px;
  }
}

// Home Pages
.jumbotron.jumbotron-fluid {
  margin-top: 69px;
  background-image: url("./assets/desert-landingpage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 724px !important;
  position: relative;

  .custom-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $poppins;
    color: #43393c;
    font-size: 8em;
    font-weight: 700;
    text-shadow: 20px 10px 7px rgba(0, 0, 0, 0.25);

    @include for-phone-only {
      font-size: 33px;
      font-weight: 700;
      text-shadow: 9px 6px 7px rgba(0, 0, 0, 0.25);
    }
  }

  @include for-phone-only {
    height: 200px !important;
  }
}

.creativity {
  margin-top: 1em;
  font-family: $poppins;
  font-size: 4.3em;
  font-weight: 800;
  color: #d17f0f;
  text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);

  @include for-phone-only {
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    margin-top: 2em;
  }
}

.creativity-subtitle {
  font-family: $poor-story;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 5em;

  @include for-phone-only {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }
}
