// Font import
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poor+Story&family=Poppins:wght@400;700;800&family=Rokkitt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

// Font Variable
$poppins: "Poppins",
sans-serif;
$poor-story: "Poor Story",
cursive;
$mulish: "Mulish",
sans-serif;

body {
  background-color: #feff99;
  font-family: $poppins;
  height: 100%;
  min-height: 100%;
}

// Breakpoint
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

// @mixin for-tablet-landscape-up {
//   @media (min-width: 900px) {
//     .vertical-footer a {
//       padding: 5px;
//       display: block;
//       margin-left: 120px;
//     }

//     .vertical-title {
//       font-family: "Poppins";
//       font-size: 20px;
//       font-weight: 600;
//       color: #000000;
//       margin-top: 28px;
//     }

//     @content;
//   }
// }

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Navbar
.custom-navbar {
  @include for-desktop-up {
    background-color: #fbc83b;
  }

  @include for-phone-only {
    background-color: #ffec8a;
  }
}

.custom-logo {
  @include for-desktop-up {
    width: 40%;
    margin-left: 50px;
  }

  @include for-phone-only {
    width: 50%;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #7a0b0b;

  @include for-desktop-up {
    font-size: 20px;
  }

  @include for-phone-only {
    font-size: 14px;
  }
}

.nav-text {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  border-bottom: 3px solid black;
  color: #7a0b0b;
}

.router-link-exact-active {
  border-bottom: 3px solid black;
}

.custom-nav-item {
  @include for-phone-only {
    margin-top: 10px;
    padding: 0.1em;
    background-color: #fefdcd;

    a span {
      margin-left: 15px;
    }

    ul.dropdown-menu.dropdown-menu-right.show {
      background: #fefdcd;
      border: 0px;

      //   li {
      //     border: 1px solid #ccc;
      //     border-radius: 16px;
      //     margin-bottom: 10px;
      //   }
    }
  }
}

button.navbar-toggler.not-collapsed {
  @include for-phone-only {
    border: 0px;
  }
}

button.navbar-toggler.collapsed {
  @include for-phone-only {
    border: 0px;
  }
}

// Footer
footer {
  background-color: #864825;

  .router-link-exact-active {
    border-bottom: none;
  }
}

.footer-mobile,
.container-fluid:after {
  @include for-phone-only {
    clear: both;
    position: absolute;
    -webkit-position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.footer-subtitle {
  font-family: "Open Sans";
  color: #000000;

  @include for-desktop-up {
    font-size: 1em;
  }

  @include for-phone-only {
    font-size: 0.7em;
  }
}

.footer-title-logo {
  font-family: $poppins;
  color: #000000;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 20px 10px 7px rgba(0, 0, 0, 0.25);

  @include for-phone-only {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
}

.footer-logo {
  width: auto;
  height: 60px;

  @include for-phone-only {
    height: 2.5em;
  }
}

.footer-title {
  font-family: $poppins;
  color: #000000;
  font-size: 3em;
  font-weight: 700;

  @include for-phone-only {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
  }
}

.copyright {
  margin-top: -0.4em;
  color: #000;

  @include for-phone-only {
    width: 0.8em;
  }
}

.first-footer-logo {
  @include for-phone-only {
    margin-left: 4.5em;
  }
}

.text-copyright {
  color: black;
  text-align: right;

  @include for-phone-only {
    font-size: 0.8em;
    text-align: center;
  }
}

.vertical-footer a,
h5 {
  padding: 5px;
  display: block;
  margin-left: 120px;

  @include for-phone-only {
    margin-left: 0px;
  }
}

.vertical-title {
  font-family: $poppins;
  font-size: 1.3em;
  font-weight: 600;
  color: #000000;

  @include for-phone-only {
    font-size: 0.8em;
  }
}

.vertical-menu {
  font-family: $poppins;
  font-size: 1em;
  font-weight: 400;
  color: #000000;

  @include for-phone-only {
    font-size: 0.7em;
  }
}

// Home Pages
.jumbotron.jumbotron-fluid {
  margin-top: 69px;
  background-image: url("./assets/desert-landingpage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 724px !important;
  position: relative;

  .custom-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $poppins;
    color: #43393c;
    font-size: 7em;
    font-weight: 700;
    text-shadow: 20px 10px 7px rgba(0, 0, 0, 0.25);

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;

    @include for-phone-only {
      font-size: 33px;
      font-weight: 700;
      text-shadow: 9px 6px 7px rgba(0, 0, 0, 0.25);
    }
  }

  /* The typing effect */

  @include for-phone-only {
    @keyframes typing {
      from {
        width: 0;
      }

      to {
        width: 61%;
      }
    }
  }

  @include for-desktop-up {
    @keyframes typing {
      from {
        width: 0;
      }

      to {
        width: 50%;
      }
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {

    from,
    to {
      border-color: transparent;
    }

    50% {
      border-color: black;
    }
  }

  @include for-phone-only {
    height: 200px !important;
  }
}

.creativity {
  margin-top: 1em;
  font-family: $poppins;
  font-size: 4.3em;
  font-weight: 800;
  color: #d17f0f;
  text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);

  @include for-phone-only {
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    margin-top: 2em;
  }
}

.creativity-subtitle {
  font-family: $poor-story;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 5em;

  @include for-phone-only {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }
}

// Subtema
.container-fluid {
  background-color: #f69c14;
  width: 95%;
  border-radius: 10px;
  margin-top: 7em;
  margin-bottom: 5em;
  padding-bottom: 3em;

  @include for-phone-only {
    margin-top: 6.5em;
    margin-left: 2.5%;
    margin-right: 10%;
    margin-bottom: 4em;
  }
}

.img-theme {
  margin-left: 2em;
  margin-top: 4em;
  height: 300px;
  width: auto;

  @include for-phone-only {
    margin-left: 4em;
    margin-top: 2em;
    height: 200px;
    text-align: center;
  }
}

.title-theme {
  font-family: $poppins;
  font-size: 4em;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.2em;
  text-transform: uppercase;

  @include for-phone-only {
    font-size: 2.4em;
    text-align: center;
    margin-top: 0.5em;
  }
}

.subtitle-theme {
  font-family: $mulish;
  font-size: 1.5em;
  color: #000000;
  margin-top: 0.5em;
  margin-right: 10em;
  text-align: justify;

  @include for-phone-only {
    margin-right: 0px;
    text-align: center;
    font-size: 1.3em;
  }
}

hr.subtheme {
  display: none;

  @include for-phone-only {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        black,
        rgba(0, 0, 0, 0));
  }
}

// Timeline
.timeline {
  background-color: #7a0b0b;
  width: 60%;
  border-radius: 100px;
  height: 11em;
  line-height: 11em;

  @include for-phone-only {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    height: 5em;
  }
}

.timeline-title {
  font-family: $poppins;
  font-size: 5.5em;
  font-weight: 700;
  color: #ffc961;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;

  @include for-phone-only {
    font-size: 2.5em;
    margin-bottom: 2.4em;
  }
}

.timeline-background.container-fluid {
  width: 92%;
  background-color: #fcb315;
  height: auto;
  margin-top: -10.5em;
  padding-top: 10em;
  z-index: -3;
  margin-left: auto;
  margin-right: auto;

  @include for-phone-only {
    width: 90%;
    margin-top: -6.5em;
  }
}

.circle {
  background: #97371a;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.05em;

  @include for-phone-only {
    width: 2.5em;
    height: 2.5em;
    // margin-top: -5em;
    position: relative;
    float: right;
  }
}

.vertical {
  background-color: #97371a;
  width: 1em;
  height: 15em;
  margin-top: -0.1em;

  @include for-phone-only {
    width: 0.5em;
    height: 8em;
    margin-top: -2.5em;
    margin-left: -0.2em;
    margin-bottom: 0;
  }
}

.timeline-subtitle-1 {
  font-family: $poppins;
  font-size: 2.5em;
  font-weight: 700;
  color: #000000;

  @include for-phone-only {
    font-size: 1em;
  }
}

.top-row {
  @include for-phone-only {
    margin-top: -5em;
  }
}

.timeline-subtitle-2 {
  font-family: $poppins;
  font-size: 2em;
  font-weight: 400;
  color: white;
  text-align: justify;

  @include for-phone-only {
    font-size: 0.9em;
    text-align: left;
    color: white;
  }
}

.desktop-view {
  @include for-phone-only {
    display: none;
  }
}

.mobile-view {
  @include for-desktop-up {
    display: none;
  }
}

hr.hr-timeline {
  width: 95%;
}

// Prizes
.shine {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  position: relative;
  font-family: $poppins;
  -webkit-mask-image: linear-gradient(-75deg,
      rgba(0, 0, 0, 0.6) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.prize-background {
  margin-top: -1em;
  z-index: -3;
  width: 100%;
  height: 100%;
  position: relative;
}

.prize-image {
  left: 30px;
  margin-top: -15em;
  position: absolute;

  @include for-phone-only {
    margin-top: -8em;
    width: 20%;
  }
}

.centered-text {
  margin-top: 3.5em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $poppins;
  font-size: 5em;
  font-weight: 700;
  width: 100%;
  padding-right: 1em;
  padding-left: 0.5em;

  @include for-phone-only {
    font-size: 1.5em;
    width: 80%;
    margin-left: 5%;
    margin-right: 1em;
  }
}

.custom-container {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

// SK
.sk-text {
  margin-top: 8em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $poppins;
  font-size: 2.5em;
  font-weight: 400;
  width: 80%;
  margin-left: 0;

  @include for-phone-only {
    margin-top: 7em;
    font-size: 0.65em;
    width: 80%;
    margin-left: 5%;
    margin-right: 1em;
    left: 45%;
  }
}